.draggable-rectangle {
  position: absolute;
  cursor: grab;
}

.draggable-rectangle:active {
  cursor: grabbing;
}

.form {
  display: inline-flex;
  max-width: 320px;
  margin-top: 8px;
  margin-left: 8px;
}

.form input {
  flex: 1;
}

.form button {
  padding-left: 8px;
  padding-right: 8px;
}

.form > * + * {
  margin-left: 8px;
}
