*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size-root: 16px;
  --font-size-base: 1rem;
  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --body-color: #212529;
  --body-text-align: left;
  --body-bg: #fff;
  font-size: var(--font-size-root);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  text-align: var(--body-text-align);
  background-color: var(--body-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button, select {
  text-transform: none;
}
